{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
<style>

</style>

<div class="example-wrapper">
    <h1>Statistiques !</h1>
    <ul>
        <li>Nombre de Cartes : <b>{{ cardsnbr }}</b></li>
        <li>Nombre de Sets : <b>{{ setsnbr }}</b></li>
    </ul>
</div>
{% endblock %}
